<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCyvvNmMWPBWXD-g0YoBf3LsTRLU9cjdhw</string>
	<key>GCM_SENDER_ID</key>
	<string>42264477746</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jaydutt.FinalMobileDataExam</string>
	<key>PROJECT_ID</key>
	<string>finalmobiledataexam</string>
	<key>STORAGE_BUCKET</key>
	<string>finalmobiledataexam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:42264477746:ios:a9a1c87890bf4af0483c2b</string>
</dict>
</plist>